.footer {
  position: fixed;
  display: flex;
  justify-content: space-between;
  bottom: 0;
  height: 65px;
  width: 96%;
  background-color: #282828;
  padding: 20px;

  &__left {
    flex: 0.3;
  }

  &__center {
    flex: 0.4;
    padding: 0 100px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 300px;
  }

  &__right {
    flex: 0.3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
  }
}
