.sidebarOption {
  display: flex;
  align-items: center;
  color: grey;
  height: 40px;
  cursor: pointer;
  transition: 0.2s color ease-in-out;

  &:hover {
    color: white;
  }

  &__icon {
    padding: 0 10px;
  }
}
