.sidebar {
  height: 100vh;
  flex: 0.2;
  color: white;
  height: 100vh;
  min-width: 230px;
  padding: 0 10px;
  background-color: #040404;

  &__logo {
    height: 70px;
    padding: 10px;
    margin-right: auto;
  }

  &__title {
    margin-left: 10px;
    padding: 5px;
    font-size: 12px;
  }

  & hr {
    border: 1px solid #282828;
    width: 90%;
    margin: 10px auto;
  }

  & p {
    margin-top: 10px;
    margin-left: 20px;
    font-size: 14px;
  }
}
